{% extends 'shopapp/base.html' %}

{% block title %}
   Product detail
{% endblock %}

{% block body %}
    <h1>Product {{ product.name }} (# {{ product.pk }})</h1>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Discount: {{ product.discount }}</p>
    <p>Archived: {{ product.archived }}</p>
    <hr>
    <p>
        <a href="{% url 'shopapp:products_list' %}"><< Back to Product list</a> &nbsp;|&nbsp;
        <a href="{% url 'shopapp:product_update' pk=product.pk %}"> Update </a> &nbsp;|&nbsp;
        <a href="{% url 'shopapp:product_delete' pk=product.pk %}"> Delete </a>

    </p>


{% endblock %}
